*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.App {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.card {
  width: 500px; /* Adjust the width as needed */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px; /* Rounded borders */
  overflow: hidden;
  background-color: #fff;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.card-img-top {
  width: 100%;
  height: auto;
  display: block;
}

.card-body {
  padding: 15px;
}

.card-title, .card-text {
  margin: 10px 0;
}

.greeting-message {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}

